.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #182848;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
  
  }
  .nav-logo { 
    font-size: 1.5rem; 
    font-weight: bold;
   }
  .nav-links { 
    display: flex;
    gap: 30px; 
    font-size: 1.1rem; 
  }
  .nav-links a { 
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  .nav-links a:hover { 
  color: #ffd700; 
}
  .nav-toggle { 
    display: none; 
    flex-direction: column; 
    cursor: pointer; 
    gap: 5px; 
  }
  .nav-toggle span { 
    width: 25px; 
    height: 3px; 
    background: #fff; 
    border-radius: 2px; 
  }
  
  @media(max-width: 768px) {
    .nav-links { 
      display: none; 
      flex-direction: column; 
      background: #182848; 
      position: absolute; 
      top: 60px; 
      right: 0; 
      width: 200px; 
      padding: 20px; 
      border-radius: 5px; 
    }
    .nav-links.open { 
      display: flex; 
    }
    .nav-toggle { 
      display: flex; 
    }
  }